[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.0"
flask-migrate = "4.0.0"
flask-restful = "0.3.10"
flask-sqlalchemy = "3.1.1"
werkzeug = "3.0.0"
pytest = "7.4.0"
sqlalchemy-serializer = "1.4.1"

[requires]
python_full_version = "3.12"
